/* =========================== ASSETS ==================================== */

/* =========================== GENERELL ==================================== */

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* =========================== HEADER ==================================== */

header {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
}

header h1 {
    color: blue;
    margin-top: 3rem;
    margin-left: 2rem;
    align-items: center;
}


header nav {
    display: flex;
    justify-content: space-evenly;
}

header nav ul {
    list-style: none;
    display: inline-flex;
    margin-left: 60rem;
    margin-top: 3rem;
}

header nav ul div:nth-of-type(1) {
    align-items: flex-end;

}

header nav ul li {
    padding: 1rem 2rem;

}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}


.highlight-element {
    background-color: rgb(84, 0, 253);
    border-radius: 15px;
    color: #fff;
}

.bold-element {
    font-weight: bold;
    font-size: 6rem;
}

/* =========================== MAIN ==================================== */

main {
    height: 80rem;
    /* background-image: url("../img/1564eb50-3fde-48ef-a75f-11ecfcf96bf4.JPG");
    background-repeat: no-repeat;
    background-size: 35rem;
    background-position-x: 60rem;
    box-shadow: 0 0 1px 2px rgb(84, 0, 253); */
}

main section {
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    justify-content: space-between;
    line-height: 10rem;
}

main section a {
    text-decoration: none;
    color: #fff;
    background-color: rgb(84, 0, 253);
    border-radius: 15px;
    width: 10rem;
    height: 8rem;
    text-align: center;
}

main section h1 {
    align-items: center;
}

main article {
    display: flex;
    align-items: center;
    margin-top: 10rem;
}

main article h1 {}

main article img {

    width: 30%;
    height: auto;
    margin-left: 15rem;
    box-shadow: 26px 28px 0px rgb(84, 0, 253);
}

/* =========================== FOOTER ==================================== */